.bg-default {
  background-color: #35364b !important;
}

.filter-animation {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.add-filter {
  filter: grayscale(1);
}

.remove-filter {
  filter: grayscale(0);
}

.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.drag-drop-wrapper {
  display: table;
}
.drag-drop-container {
  display: table-cell;
  // background-color: rgba(0, 157, 160, 0.8);
  width: 48%;
  // border: 1px solid;
}

.drag-drop-container > div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: #35364b;
  color: #fff;
  transition: opacity 0.4s ease-in-out;
}
.drag-drop-container > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  a {
    color: #000;
  }
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.drag-drop-container .ex-moved {
  background-color: rgba(255, 88, 107, 0.8);
}
.drag-drop-container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
#left-lovehandles > div,
#right-lovehandles > div {
  cursor: initial;
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  cursor: move;
}
.image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}
.slack-join {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
}
