<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
            Copyright  &copy;  2020 - {{currentDate | date: 'yyyy'}} <a href="https://www.linkedin.com/in/paulo-renato/">Renatão Alves</a>, made width love.
        </p>
    </div>
</footer>
<!--Footer Ends-->